*{
    font-family: sans-serif;
    
    font-size: 20px;
}
ul{
    margin-right: 15%;
    font-weight: 700;
}

li{
    margin-right: 5%;
}

.margin-b{
    margin-bottom: 10%;
}

.grey{
    background-color: rgb(165, 165, 165);
}